{% extends "inicio/encabezado.html"%}

{% block titulo %} Eliminar {%endblock%}


{%block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block menu %}
    Alumnos <span>DSM</span>
{% endblock %}


{% block encabezado %}
<!--Encabezado -->
<div class="page-header">
    <div class="page-title">
        <h3>Eliminar comentario
        <small>Delete</small></h3>
    </div>
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
    <form method="POST">
{%csrf_token%}
<div class="callout callout-danger fade in">
    <h5>Eliminando Comentario</h5>
    <p>¿Estás seguro de <strong>eliminar</strong> este comentario?</p>
</div>
<button type="submit" class="btn btn-danger">Si</button>
<a href="{%url 'ConsultarCom'%}" class="btn btn-primary">Cancelar</a>
</form>
{%endblock%}