{% extends "inicio/encabezado.html"%}

{% block titulo %} ConsultarComentario {%endblock%}


{%block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block menu %}
    Consultar <span>Comentario</span>
{% endblock %}


{% block encabezado %}
<!--Encabezado -->
<div class="page-header">
    <div class="page-title">
        <h3>Comentario
        <small>Lista de comentario </small></h3>
    </div>
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
    <!--Tabla Alumnos-->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Mensaje</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comentario in comentarios %}
            <tr>
                <td class="Text-semibold">{{comentario.usuario}}</td>
                <td class="muted">{{comentario.mensaje}}</td>
                <td class="text-center"><a href="{%url 'ConsultaIndividual' comentario.id%}">Editar<a/></td>
                <td class="text-center"><a href = "{%url 'Eliminar' comentario.id%}">Eliminar</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock%}